doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        - const channelstring = `<u>${server}#${channels}</u>`;
        - const userstring = users ? ` by <u>${users}</u>` : '';
        - const titlestring = `📦 Images/Files posted in ${channelstring}${userstring}`;
        title= titlestring.replace(/<[^>]*>/g, '')

        link(rel="stylesheet" type="text/css" href=stylesheet)

        style. 
            .card {
                overflow: hidden;
            }
            .card-horizontal {
                display: flex;
                flex: 1 1 auto;
            }
            img#serverIcon {
                height: 4.5em;
                border-top-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
            .table-responsive {
                white-space: nowrap;
            }
            .min-col-size {
                width: 0.1px;
            }

    body
        .container-fluid
            .card.mt-3
                .card-horizontal
                    .img-square-wrapper
                        img#serverIcon(src=iconURL)
                    .card-body
                        h4#title.card-title.mb-4!= titlestring
                        hr
                        .alert.alert-light.mt-4.p-0
                            h4.alert-heading 🔖 Instructions
                            p.text-justify To download all files here, I recommend using DownThemAll on Firefox to pull all the links at once. 
                            p.text-justify Note that Discord attachment links may expire after 24 hours.
                            p.text-justify.mb-0 On the 'Select your Downloads' dialog, use 
                                code *title*
                                |  as your Mask 🏷️ to rename the file with the username, posting date, and original filename.
                .card-footer
                    - let dateString = `Scanned ${dayjs().format("MMMM Do YYYY, h:mm:ss a")}`
                    - if (dateLimit) dateString += `, only as far back as ${dayjs(dateLimit).format("MMMM Do YYYY")}`
                    small.text-muted.float-left= dateString
                    if botAttribution
                        small.text-muted.float-right 
                            a(href=botAttribution.github target='_blank')= "⬇️ " + botAttribution.name
                        

            if attachments
                .table-responsive.mt-4
                    table.table.table-striped.table-bordered.table-sm
                        thead
                            tr
                                th(scope="col").min-col-size #
                                th(scope="col") Posted
                                th(scope="col") Server
                                th(scope="col") Channel
                                th(scope="col") User
                                th(scope="col") File
                                th(scope="col").min-col-size Link
                        tbody
                            each a, i in attachments
                                tr  
                                    th(scope="row")= i + 1
                                    td= dayjs(a.message.createdAt).format("YYYY/MM/DD")
                                    td= a.message.guild.available && a.message.guild.name
                                    td= '#' + a.message.channel.name
                                    td= a.message.author.tag
                                    td= a.basename
                                    td.text-center
                                        a(href=a.url title=a.newname target='_blank') 💾
                            if dateLimit
                                tr.table-warning
                                    td.text-center(colspan=7)= `Results have been trimmed at ${dayjs(dateLimit).format("YYYY/MM/DD")}`

            else
                p No attachments found?