doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        - const channelstring = `<u>${server}#${channels}</u>`;
        - const userstring = users ? ` by <u>${users}</u>` : '';
        - const titlestring = `📦 Images/Files posted in ${channelstring}${userstring}`;
        title= titlestring

        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        style. 
            .card {
                overflow: hidden;
            }
            .card-horizontal {
                display: flex;
                flex: 1 1 auto;
            }
            img#serverIcon {
                height: 4.5em;
                border-top-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
            .table-responsive {
                white-space: nowrap;
            }
            .min-col-size {
                width: 0.1px;
            }
    body
        .container-fluid
            .card.mt-3
                .card-horizontal
                    .img-square-wrapper
                        img#serverIcon(src=iconURL)
                    .card-body
                        h4#title.card-title.mb-4!= titlestring
                        hr
                        .alert.alert-light.mt-4.p-0
                            h4.alert-heading 🔖 Instructions
                            p.text-justify To download all files here, I recommend using DownThemAll on Firefox to pull all the links at once. 
                            p.text-justify.mb-0 On the 'Select your Downloads' dialog, use 
                                code *title*
                                |  as your Mask 🏷️ to rename the file with the username, posting date, and original filename.
                .card-footer
                    small.text-muted= `Scanned ${moment().format("MMMM Do YYYY, h:mm:ss a")} by Ketchum bot for Discord`
                        

            if attachments
                .table-responsive.mt-4
                    table.table.table-striped.table-bordered.table-sm
                        thead
                            tr
                                th(scope="col").min-col-size #
                                th(scope="col") Posted
                                th(scope="col") Server
                                th(scope="col") Channel
                                th(scope="col") User
                                th(scope="col") File
                                th(scope="col").min-col-size Link
                        tbody
                            each a, i in attachments
                                tr  
                                    th(scope="row")= i + 1
                                    td= moment(a.message.createdAt).format("YYYY/MM/DD")
                                    td= a.message.guild.available && a.message.guild.name
                                    td= '#' + a.message.channel.name
                                    td= a.message.author.tag
                                    td= a.basename
                                    td.text-center
                                        a(href=a.url title=a.newname target='_blank') 💾

            else
                p No attachments found?